@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,900&display=swap');

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Montserrat';
  margin: 1rem 2rem;
}

.header{
  position: absolute;
  top:30%;
  width:40%;
  color:lightblue;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1::after{
  content: '';
  display: block;
  width:60%;
  height: 2px;
  background: lightcoral;
}
h1::before{
  content: '';
  display: block;
  float:right;
  width:60%;
  height: 2px;
  background: lightcoral;
}
.header h1{
  font-size:3rem;
  text-align: center;
}
/* header--------------------------------------------------------- */
button.btn{
  font-size:1.5rem;
  color:lightcoral;
  border:2px solid lightblue;
  background:none;
  padding:.5rem 1rem;
  text-transform: uppercase;
  display: block;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media screen and (max-width:650px){
  .header h1{
    font-size:2rem;
  }
  button.btn{
    font-size: 1rem;
  }
}
/* mediaqueries under 650px for btn and header class---------------------- */